@import '../../../../StyleForms.css';

.container-passoword {
  width: 350px;
  padding-bottom: 20px;
  margin-top: 12%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  border-radius: 50px 50px;
  border: red;
  max-width: 90%;
}

.btn-mov {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.btn-mov button {
  font-size: 16px;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .btn-mov button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .btn-mov button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.error-snackbar {
  background-color: #f44336; /* Vermelho para erro */
  color: #fff;
}

.success-snackbar {
  background-color: #4caf50; /* Verde para sucesso */
  color: #fff;
}
