@import '../home-security-group/home-security-group.component';
mat-card{
  box-shadow: none;
}
mat-card-title{
  border-bottom: solid 1px;
  border-color: var(--mat-sidenav-container-text-color);
}
.wrap{
  flex-wrap: wrap;
}

.permission-wrapper{
  justify-content: space-around;
}

.permission-box {
  justify-content: space-between;
}

.permission-card {
/*  flex: 1 1 32%;
  max-width: 32%;*/
  margin-right: 1%;
  align-self: stretch;
  width: 280px;
}

@media (max-width: 768px) {
  .permission-card {
    flex: 1;
    max-width: 100%;
    width: 100%;
    margin-right: 1%;
  }
}

.mat-card-content-permission-box{
  padding: 10px 10px 10px 10px;
}

.permission-item{
  margin-bottom: 5px;
}
.permission-box-toogleall {
  display: flex;
  place-content: center flex-end;
  align-items: center;
  font-size: var(--mat-card-subtitle-text-size);
}
