<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
  <mat-card class="container-column">
    <mat-card-title>
      <span>Dados do Grupo</span>
    </mat-card-title>
    <mat-card-content class="container-column gap-sm">
      <div class="row center-align gap-sm"></div>
      <div class="row center-align gap-sm">
        <mat-form-field class="flex-2">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Informe o Nome" title="Nome" formControlName="name" maxlength="50" #formField
                 >
          <mat-error *ngIf="handleError('name', 'required')">
            O nome do grupo é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-1" *ngIf="crudAction.isActionAlter() || crudAction.isActionView()">
          <mat-label>Status</mat-label>
          <input matInput name="status" formControlName="status" style="display: none">
          <mat-slide-toggle formControlName="status"
                            *ngIf="crudAction.isActionAlter() && HAS_PERMISSION_ACTIVATE_INACTIVATE"
                            title="{{ formGroup.value.status ? 'Ativo' : 'Inativo' }}">
          </mat-slide-toggle>
          <input matInput name="statusLabel" formControlName="statusLabel"
                 *ngIf="crudAction.isActionView() || crudAction.isActionAlter() && !HAS_PERMISSION_ACTIVATE_INACTIVATE"
                 [readonly]="true">
        </mat-form-field>
      </div>

      <div class="row center-align gap-sm">
        <mat-form-field class="flex-grow">
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder="Informe a Descrição" title="Descrição" formControlName="description" #formField
                    rows="2" maxlength="500" >
          </textarea>
          <mat-error *ngIf="handleError('description', 'required')">
            A descrição do grupo é obrigatória
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="container-column gap-md">
    <mat-card-title>
      <span>Permissões</span>
    </mat-card-title>
    <mat-card-content class="container-column gap-sm">
      <div class="row center-align gap-sm">
        <mat-form-field class="flex-grow">
          <mat-label>Módulo</mat-label>
          <input matInput placeholder="Informe o Módulo" title="Módulo" formControlName="filterModule"
                 (keyup)="filterModule()" maxlength="100">
        </mat-form-field>
      </div>

      <div class="row wrap gap-sm permission-wrapper">
        <ng-container formArrayName="modules">
          <ng-container *ngFor="let moduloControl of modules.controls; let i = index">
            <div  [formGroup]="convertToFormControl(moduloControl)" class="permission-card" *ngIf="moduloControl.value.visible">
              <mat-card class="flex-1">
                <mat-card-title>
                  <div class="row-fix flex-1 center-align gap-sm">
                    <div class="flex-1">{{ moduloControl.get('name')?.value }}</div>
                    <div class="flex-1 permission-box-toogleall">
                      <div>
                        Todos:
                      </div>
                      <div>
                        <mat-slide-toggle formControlName="allChecked" (change)="checkAllFeaturesModule(moduloControl.get('id')?.value)"
                                          title="{{ moduloControl.get('allChecked')?.value ? 'Ativo' : 'Inativo' }}"
                        >
                        </mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                </mat-card-title>
                <mat-card-content class="mat-card-content-permission-box">
                  <div class="column permission-box">
                    <ng-container formArrayName="features">
                      <ng-container *ngFor="let featureControl of getFeatures(i)?.controls; let j = index">
                        <div  [formGroup]="convertToFormControl(featureControl)" class="row-fix center-align gap-sm permission-item" >
                          <span class="flex-1">{{ featureControl.get('name')?.value }}</span>
                          <mat-slide-toggle formControlName="checked" (change)="updateFeatures(moduloControl.get('id')?.value, featureControl.value)"
                                            title="{{ featureControl.get('checked')?.value ? 'Ativo' : 'Inativo' }}"
                                            >
                          </mat-slide-toggle>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card-actions class="my-mat-tab-actions">
    <a title="Voltar" (click)="cancelar()" mat-button mat-raised-button class="mat-primary flex-grow-sm"
       *ngIf="crudAction.isActionView()">
      Voltar
    </a>
    <a title="Cancelar" (click)="cancelar()" mat-button mat-raised-button class="mat-warn flex-grow-sm"
       *ngIf="!crudAction.isActionView()">
      Cancelar
    </a>
    <button type="submit" title="Salvar" mat-button mat-raised-button class="mat-primary flex-grow-sm"
            *ngIf="crudAction.isActionAlter() || crudAction.isActionCreate()">
      Salvar
    </button>
  </mat-card-actions>
</form>
