.mat-card-title {
  font-weight: bold;
  color: #046F82;
}

.mat-card {
  height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex: 1;
}

.table {
  width: 100%;
  overflow: auto;
}

.searchFlex {
  margin-bottom: 10px;
}

.mat-paginator {
  background-color: #E8F5E9;
  border-top: 1px solid #A5D6A7;
  padding: 8px 0;
}

.mat-header-cell {
  font-weight: bold;
  text-align: left;
  background-color: #abd3b6 !important;
  color: #020100;
  padding: 12px;
}



.mat-cell {
  text-align: left;
  padding: 12px;
  background-color: #dcdee0;
}

.mat-row:nth-child(even) .mat-cell {
  background-color: #abd3b6;
}

.add-button {
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #388E3C;
}

.mat-paginator {
  background-color: #E8F5E9;
  border-radius: 8px;
}

.mat-paginator .mat-paginator-range-label,
.mat-paginator .mat-icon-button {
  color: #046F82;
}

.mat-divider {
  background-color: #abd3b6;
}

.custom-card-header {
  background-color: #abd3b6;
  color: #fff;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.custom-title {
  margin: 0;
  font-size: 1.5rem;
  color: #020100 !important;
}


button {
  margin: 0 4px;
  min-width: 36px;
  height: 36px;
  padding: 0 8px;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
}

.edit-button {
  background-color: #ffc107;
  color: #fff;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}
