    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="form"
    >
      <mat-card class="container-column">
        <mat-card-title>
          <span>Dados do Usuário</span>
        </mat-card-title>
        <mat-card-content class="container-column gap-sm">
          <div class="row center-align gap-sm"></div>

          <div class="row center-align gap-sm">
            <mat-form-field class="flex-2">
              <mat-label>Login</mat-label>
              <input matInput placeholder="Informe o Login" title="Login" formControlName="login" #formField
                     (focusout)="validarLogin()">
              <!--<mat-error validationMessage [submitted]="submittedUsuario"></mat-error>-->
              <mat-error *ngIf="handleError('login', 'required')">
                O login do usuário é obrigatório
              </mat-error>
              <mat-error *ngIf="handleError('login', 'loginInvalid')">
                Login está em uso
              </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-2">
              <mat-label>E-Mail</mat-label>
              <input matInput placeholder="Informe o E-Mail" title="E-Mail" type="email" #formField
                     formControlName="email" name="email" required maxlength="50">
              <!--<mat-error validationMessage [submitted]="submittedUsuario"></mat-error>-->
              <mat-error *ngIf="handleError('email', 'required')">
                O E-Mail do usuário é obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field class="flex-1" *ngIf="crudAction.isActionAlter() || crudAction.isActionView()">
              <mat-label>Bloqueado</mat-label>
              <input matInput name="blockedAccess" formControlName="blockedAccess" style="display: none">
              <mat-slide-toggle formControlName="blockedAccess" name="blockedAccess"
                                *ngIf="crudAction.isActionAlter() && HAS_PERMISSION_BLOCK_UNBLOCK"
                                title="{{ formGroup.value.blockedAccessLabel }}">
              </mat-slide-toggle>
              <input matInput name="blockedAccessLabel" formControlName="blockedAccessLabel"
                     *ngIf="crudAction.isActionView() || crudAction.isActionAlter() && !HAS_PERMISSION_BLOCK_UNBLOCK" [readonly]="true">
            </mat-form-field>

            <mat-form-field class="flex-1" *ngIf="crudAction.isActionAlter() || crudAction.isActionView()">
              <mat-label>Status</mat-label>
              <input matInput name="status" formControlName="status" style="display: none">
              <mat-slide-toggle formControlName="status" name="status" (change)="alterUserStatus(model)"
                                *ngIf="(crudAction.isActionView() || crudAction.isActionAlter()) && HAS_PERMISSION_ACTIVATE_INACTIVATE"
                                title="{{ formGroup.value.statusLabel }}">
              </mat-slide-toggle>
              <input matInput name="statusLabel" formControlName="statusLabel"
                     *ngIf="crudAction.isActionAlter() && !HAS_PERMISSION_ACTIVATE_INACTIVATE" [readonly]="true">
            </mat-form-field>
          </div>

          <div class="row center-align gap-sm">
            <mat-form-field class="flex-grow">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Informe o Nome" title="Nome" formControlName="name" #formField
                     name="name" required maxlength="100">
              <!--<mat-error validationMessage [submitted]="submittedUsuario"></mat-error>-->
              <mat-error *ngIf="handleError('name', 'required')">
                O Nome do usuário é obrigatório
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <form-security-user-phones [userId]="model.id" [userPhones]="userPhones"></form-security-user-phones>
    <!--<app-usuario-telefone-form [telefonesUsuario]="telefonesUsuario" [idUsuario]="model.id"></app-usuario-telefone-form>-->


      <mat-card class="container-column gap-md">
        <mat-card-title>
          <span>Grupos de acesso do Usuário</span>
        </mat-card-title>
        <mat-card-content class="container-column gap-sm">
          <form  [formGroup]="formGroupGroup"
                 (ngSubmit)="addGroup()">
          <div class="row-fix gap-sm" *ngIf="!crudAction.isActionView()">
            <div class="flex-grow">
            </div>
            <div class="flex-grow">
            </div>

            <mat-form-field class="flex-grow">
              <mat-label>Grupo</mat-label>
              <mat-select id="inputGrupo" placeholder="Grupo" title="Grupo" name="selectedGroup" formControlName="selectedGroup">
                <mat-option [value]="undefined">Selecione</mat-option>
                <mat-option *ngFor="let group of availableGroups" [value]="group">
                  {{group.name}}
                </mat-option>
              </mat-select>
              <!--<mat-error validationMessage [submitted]="submittedUsuario"></mat-error>-->
              <mat-error *ngIf="handleErrorForm(formGroupGroup,'selectedGroup', 'required')">
                Obrigatório selecionar um grupo!
              </mat-error>
            </mat-form-field>

            <button mat-mini-fab title="Adicionar Grupo" class="btn-primary group-add-btn" type="submit" >
              <mat-icon>add</mat-icon>
            </button>
          </div>
          </form>
          <div class="column flex-grow" *ngIf="dataSourceGroups.data.length != 0
          || this.formGroup.get('groups')?.invalid && this.formGroup.get('groups')?.touched">
            <div class="table-detail">
              <mat-table #table [dataSource]="dataSourceGroups">
                <ng-container matColumnDef="nomeGrupoVinculado">
                  <mat-header-cell class="style-header" *matHeaderCellDef> Grupo Vinculado </mat-header-cell>
                  <mat-cell class="style-column" *matCellDef="let element">
                    <div class="row">
                      <div class="flex-grow">
                        {{element.groupName}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="remover" *ngIf="!crudAction.isActionView()">
                  <mat-header-cell class="style-header center-align" *matHeaderCellDef> Remover </mat-header-cell>
                  <mat-cell class="style-column center-column " *matCellDef="let element">
                    <div class="center-align">
                      <a mat-mini-fab title="Remover Grupo" class="btn-primary" (click)="removeGroup(element)">
                        <mat-icon>delete</mat-icon>
                      </a>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <div class="row-fix mat-header-row center-column" *matNoDataRow>
                      <div class="flex-grow mat-mdc-form-field-error">
                        Obrigatório informar ao menos um grupo
                    </div>
                </div>
              </mat-table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    <mat-card-actions class="my-mat-tab-actions">
          <a title="Voltar" (click)="cancelar()" mat-button mat-raised-button class="mat-primary flex-grow-sm" *ngIf="crudAction.isActionView()">
            <span>Voltar</span>
          </a>
          <a title="Cancelar" (click)="cancelar()" mat-button mat-raised-button class="mat-warn flex-grow-sm" *ngIf="!crudAction.isActionView()">
            <span>Cancelar</span>
          </a>
          <button type="submit" title="Salvar" mat-button mat-button class="mat-primary flex-grow-sm"
                  *ngIf="crudAction.isActionAlter() || crudAction.isActionCreate()">
            <span>Salvar</span>
          </button>
    </mat-card-actions>
    </form>
