<div class="ganho-list-container">

  <div class="title-container">
    <h2>Meus Ganhos</h2>
  </div>
    <button class="add-button" (click)="onAdd()">Adicionar Ganho</button>

  <table class="ganho-table">
    <tr>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let ganho of ganhos">
      <td>{{ ganho.categoria }}</td>
      <td>{{ ganho.descricao }}</td>
      <td>{{ ganho.data | date:'dd/MM/yyyy' }}</td>
      <td>{{ ganho.valor | currency:'BRL' }}</td>
      <td>
        <button (click)="onEdit(ganho.id)">Editar</button>
        <button (click)="onDelete(ganho.id)">Deletar</button>
      </td>
    </tr>
  </table>
</div>
