<mat-card class="custom-card goals-card">
    <mat-card-header  class="custom-card-header">
        <mat-card-title class="custom-title">
            Minhas Metas
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="custom-actions">

        <button mat-button class="add-button" (click)="openDialogAddGoal()">

            <mat-icon>add</mat-icon>
            <span>Adicionar</span>
        </button>
        <button mat-raised-button class="remove-button" [routerLink]="['/']">
            <mat-icon>remove</mat-icon>
            <span>Remover</span>
        </button>
      <mat-card-content>
        <button mat-icon-button class="share-button" (click)="shareGoal()" aria-label="Compartilhar metas">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-content>
    </mat-card-actions>
    <mat-card-content>
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>
