<div class="formPadrao" fxLayout="row" fxLayoutAlign="center center">

    <form class="form" fxFlex="1 1 auto">
        <h2>Minha Conta</h2>

        <span><strong>Nome:</strong> {{namePerson}} <br></span>

        <div fxLayout="row">
            <span><strong>E-mail:</strong> {{email}} <br></span>
            <button type="button" class="icone-edit">
                <mat-icon style="font-size: 20px;">edit</mat-icon>
            </button>
        </div>

        <mat-form-field *ngIf="fieldVisibleEmail">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="exemplo@exemplo.com">
            <mat-error>Campo Obrigatório</mat-error>
            <mat-error>E-mail Inválido</mat-error>
        </mat-form-field>

        <mat-checkbox>
            Deseja alterar a senha ?
        </mat-checkbox>

        <div *ngIf="formGroup.get('alterarSenha')?.value" fxLayoutAlign="space-evenly center">
            <mat-form-field>
                <mat-label>Senha Antiga</mat-label>
                <input matInput type="password" placeholder="Digite a senha">
                <button mat-icon-button matSuffix type="button">
                    <mat-icon>visibility</mat-icon>
                </button>
                <mat-error>Senha antiga é obrigatória</mat-error>
                <mat-error>Senha antiga incorreta</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput type="password" placeholder="Digite a senha">
                <button mat-icon-button matSuffix type="button">
                    <mat-icon>visibility</mat-icon>
                </button>
                <mat-error>Senha é obrigatória</mat-error>
                <mat-error>Senha precisa ter pelo menos 6 caracteres</mat-error>
                <mat-error>Senha precisa ter um caracter especial</mat-error>
                <mat-error>Senha precisa ter uma letra maiúscula</mat-error>
                <mat-error>Senha precisa ter pelo menos 3 números</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirmar Senha</mat-label>
                <input matInput type="password" placeholder="Confirme a senha">
                <button mat-icon-button matSuffix type="button">
                    <mat-icon>visibility</mat-icon>
                </button>
                <mat-error>Confirmação de senha é obrigatória</mat-error>
                <mat-error>As senhas não coincidem</mat-error>
            </mat-form-field>
        </div>

        <div class="divBotoes" fxLayoutAlign="center center">
            <button mat-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
        </div>
    </form>

</div>
