<form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="form"
>
    <div class="custom-dialog centered-dialog">
        <h2 mat-dialog-title>{{ acao }}</h2>
        <mat-dialog-content class="dialog-content">
            <mat-form-field class="dialog-large-form-field">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" placeholder="Insira o nome"/>
                <mat-error *ngIf="handleError('name', 'required')">
                    O nome é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="categoryName">
                    <mat-option *ngFor="let category of categorias" [value]="category">{{ category }}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('categoryName', 'required')">
                    A categoria é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="description" placeholder="Insira sua descrição"/>
                <mat-error *ngIf="handleError('description', 'required')">
                    A descrição é obrigatória
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field">
                <mat-label>Data</mat-label>
                <input matInput formControlName="incomeDate" [matDatepicker]="picker" placeholder="Escolha a Data"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field">
                <mat-label>Valor</mat-label>
                <input matInput formControlName="amount" type="number" placeholder="0.00"/>
                <mat-error *ngIf="handleError('amount', 'required')">
                    O valor é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field">
                <mat-label>Se repete</mat-label>
                <mat-select formControlName="repeatable">
                    <mat-option value="WEEKLY">Semanal</mat-option>
                    <mat-option value="MONTHLY">Mensal</mat-option>
                    <mat-option value="YEARLY">Anual</mat-option>
                    <mat-option value="DONT_REPEATS">Não se repete</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('repeatable', 'required')">
                    A opção é obrigatória
                </mat-error>
            </mat-form-field>

            <mat-form-field class="dialog-large-form-field" *ngIf="formGroup.get('repeatable')?.value !== 'DONT_REPEATS'">
                <mat-label>Até</mat-label>
                <input matInput formControlName="leadTime" type="number" placeholder="Digite quantas vezes"/>
            </mat-form-field>


        </mat-dialog-content>

        <mat-dialog-actions class="action-buttons-dialog">
            <button mat-raised-button (click)="closeDialog()">Cancelar</button>
            <button mat-raised-button type="submit" >{{ id ? 'Salvar' : 'Adicionar' }}</button>
        </mat-dialog-actions>
    </div>
</form>