mat-toolbar {
  background: white;
  color: white;
}

mat-sidenav {
  background: #F5F7FA;
  color: black;
  text-align: center;
}

.content {
  height: calc(100vh - 96px);
  padding: 16px;
}

mat-sidenav-container {
  height: 100%;
}

.login-button {
  position: absolute;
  right: 0;
}


.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color: black !important;
  font-family: Roboto, sans-serif;
  mat-icon {
    margin-right: 8px;
    cursor: pointer;
  }
}

.menu-button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo-educadin {
  font-family: "Patua One", serif;
  font-size: 30px;
  font-weight: 1000;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.educa {
  color: #046F82;
}

.din {
  color: #5FE564;
}

.active-link {
  background-color: #B2DFFF;
}

.menu-button span.texto-cor {
  color:black;
}

.menu-button mat-icon.icon-cor{
  color: black;
}

@media print {
  .menu-button {
    display: none;
  }
}

.header-notification img {
  width: 100%;
  height: 100%;
}

.header-notification {
  margin-left: auto;
}