<div class="notification-container">
  <!-- Botão com sino e contador de notificações -->
  <button mat-icon-button (click)="markAsRead()" aria-label="Notificações">
    <mat-icon matBadge="{{ unreadCount }}" matBadgeColor="warn">notifications</mat-icon>
  </button>

  <mat-list *ngIf="notifications.length > 0; else noNotifications">
    <mat-list-item *ngFor="let notification of notifications">
      <mat-icon mat-list-icon>{{ getIcon(notification.type) }}</mat-icon>
      <h3 mat-line>{{ notification.type | titlecase }}</h3>
      <p mat-line>{{ notification.message }}</p>
    </mat-list-item>
  </mat-list>
  <ng-template #noNotifications>
    <p>Não há notificações no momento.</p>
  </ng-template>
</div>
