<div>
<div class="tabela-container">
    <table mat-table [dataSource]="earningsTableDataSource" class="tabela">

        <ng-container matColumnDef="select" >
            <th mat-header-cell *matHeaderCellDef  class="mat-header-cell">
                <mat-checkbox (change)="selectAll($event)" [checked]="isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element"  class="mat-cell">
                <mat-checkbox (change)="onCheckboxChange(element)" [checked]="selection.isSelected(element)">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Categoria</th>
            <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.category.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Descrição</th>
            <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="incomeDate">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Data</th>
            <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.incomeDate }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Valor</th>
            <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="acao" *ngIf="tipoDeListagem == 'Normal'">
            <th mat-header-cell *matHeaderCellDef  class="mat-header-cell"> Ações</th>
            <td mat-cell *matCellDef="let element"  class="mat-cell" (mouseover)="element.showActions = true"
                (mouseout)="element.showActions = false">
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialogEditEarnings(element.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="confirmDeletionEarnings(element)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Excluir</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>
</div>
