.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
}

mat-card {
  width: 500px;
  display: flex;
  height: 500px;
  max-width: 90%;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-between;
}

mat-card-title {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.login-content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 1rem;
}

.educa {
  color: #046F82;
}

.din {
  color: #5FE564;
}

.info-container {
  max-width: 400px;
  padding: 1rem;
  text-align: left;
}

.info-container h1 {
  color: #84cb9f;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.info-container p {
  color: #6c757d;
  font-size: 1rem;
  line-height: 1.5;
}

.forgot-password {
  color: black;
  cursor: pointer;
  font-family: DM Roboto, sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: darkgray;
}

.forgot-password:active {
  color: black;
}