<!-- Filtro de Pesquisa -->
<mat-card>
  <mat-card-title class="form-mat-card-title">Filtro para Pesquisa</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field class="flex-2">
          <mat-label>Grupo</mat-label>
          <input matInput placeholder="Informe o Grupo" title="Grupo" formControlName="name" maxlength="100">
        </mat-form-field>
        <mat-form-field class="flex-1">
          <mat-label>Status</mat-label>
          <mat-select placeholder="Status" title="Status" formControlName="active">
            <mat-option [value]="undefined">Status</mat-option>
            <mat-option *ngFor="let status of listStatusAtivosInativos" [value]="status.id">
              {{ status.descricao }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="my-mat-tab-actions">
    <button type="button" title="Limpar" (click)="resetForm()" mat-button mat-raised-button class="mat-warn flex-grow-sm">
      Limpar
    </button>
    <button type="button" title="Pesquisar" (click)="search()" mat-button mat-raised-button class="mat-primary flex-grow-sm">
      Pesquisar
    </button>
  </mat-card-actions>
</mat-card>

<!-- Tabela de Grupos -->
<mat-card>
  <mat-card-content *ngIf="dataSource.data.length > 0">
    <div class="table-detail">
      <mat-table [dataSource]="dataSource">

        <!-- Colunas da Tabela -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="flex-2 table-header"> Grupo </mat-header-cell>
          <mat-cell *matCellDef="let element" class="flex-2">
            <div class="row-label-l-sm">
              <span class="text-strong">Grupo : &nbsp;</span>
            </div>
            <div>
              {{element.name}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusPortal">
          <mat-header-cell *matHeaderCellDef class="fix-col-sm table-header"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="fix-col-sm">
            <div class="row-label-l-sm">
                <span class="text-strong">Ativo :&nbsp; </span>
            </div>
            <div>
                <mat-slide-toggle
                  [formControl]="getStatusAt(i)"
                  (change)="alterGroupStatus(element, i)"
                                title="{{ element.status ? 'Ativo' : 'Inativo' }}"
                                  *ngIf="securityService.hasRoles(SecurityGroupRoles.ACTIVATE_INACTIVATE)" >
              </mat-slide-toggle>
                <span *ngIf="!securityService.hasRoles(SecurityGroupRoles.ACTIVATE_INACTIVATE)">
                {{ element.status ? 'Ativo' : 'Inativo' }}
              </span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="fix-col-sm table-header"> Ações </mat-header-cell>
          <mat-cell *matCellDef="let element" class="fix-col-sm gap-sm">
            <div class="row-label-l-sm">
              <span class="text-strong">Ações :</span>
            </div>
            <div class="display-flex gap-sm">
                <a mat-mini-fab title="Visualizar Grupo" class="btn-primary"
                   *ngIf="HAS_PERMISSION_READ"
                   [routerLink]="[AuthorizationPaths.SECURITY_GROUP, element.id, SecurityGroupPaths.RELATIVE_VIEW]">
                <mat-icon>search</mat-icon>
              </a>
                <a mat-mini-fab title="Alterar Grupo" class="btn-primary"
                   *ngIf="HAS_PERMISSION_UPDATE"
                   [routerLink]="[AuthorizationPaths.SECURITY_GROUP, element.id, SecurityGroupPaths.RELATIVE_EDIT]">
                <mat-icon>edit</mat-icon>
              </a>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="row-table"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-table"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator [pageSize]="PAGINATOR_PAGE_SIZE" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
