<div class="row mat-grid">

    <div class="col-lg-6 mat-grid-tile">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Bar</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 mat-grid-tile">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Bar Horizontal</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6 mat-grid-tile">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Radar</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>
