
.mat-grid {
  display: flex;
 flex-wrap: wrap;
  gap: 16px;
}
.mat-grid-tile {
  box-sizing: border-box;
  padding: 8px;
}

.doughnut, .pie {
  flex: 1 1 calc(50% - 16px);;
  max-width: calc(50% - 16px);
}

.stackedd-bar {
 flex: 1 1 100%;
  max-width: 100%;
}

mat-card {
  height: 100%;
}
