<mat-card class="custom-card earnings-card">
    <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-title">
            Meus Ganhos
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="custom-actions"  fxLayoutAlign="center none">
        <button mat-button class="add-button" (click)="openDialogAddIncomes()">
            <mat-icon>add</mat-icon>
            <span>Adicionar</span>
        </button>
        <button mat-button class="remove-button" [routerLink]="['/']">
            <mat-icon>remove</mat-icon>
            <span>Remover</span>
        </button>
    </mat-card-actions>
    <mat-card-content class="custom-content">
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>
