<style>
    @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
</style>

<div class="main-container">
    <app-header></app-header> <!-- Cabeçalho principal fixo -->

    <div class="content-wrapper">
        <app-navbar></app-navbar> <!-- Barra lateral fixa -->

        <div class="content-container">
            <div class="content">
                <router-outlet></router-outlet> <!-- Conteúdo da página -->
            </div>
        </div>
    </div>
<!--    <div class="footer">-->
<!--        <app-footer></app-footer> &lt;!&ndash; Rodapé fixo &ndash;&gt;-->
<!--    </div>-->
</div>