<div class="full-screen">
    <div class="container">
        <div class="info-container">
            <h1>Cadastre-se no EducaDin</h1>
            <p>Crie sua conta para começar a organizar suas finanças de forma simples e eficiente.</p>
        </div>
        <mat-card>
            <div class="title-register">
                <mat-card-title class="logo-educadin">
                    <h1><strong class="educa">Educa</strong><strong class="din">Din</strong></h1>
                </mat-card-title>
            </div>
            <mat-card-content>
                <form
                        [formGroup]="formGroup"
                        (ngSubmit)="onSubmit()"
                        class="form"
                >
                    <div class="register-content">
                        <mat-form-field>
                            <mat-label>Usuário</mat-label>
                            <input matInput formControlName="name" autocomplete="off"
                                   placeholder="Digite seu usuário" maxlength="20">
                            <mat-error *ngIf="handleError('name', 'required')">
                                Campo obrigatório!
                            </mat-error>
                            <mat-error *ngIf="handleError('name', 'minLength')">
                                Tamanho mínimo de 3 letras
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="mat-form-email">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl"
                                   placeholder="Digite seu e-mail">
                            <mat-error
                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Por favor insira um endereço de e-mail válido
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email é <strong>obrigatório</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input matInput formControlName="password" type="password" title="Senha"
                                   [type]="hide ? 'password' : 'text'"
                                   placeholder="Digite sua senha" >
                            <mat-error *ngIf="handleError('password', 'required')">Campo obrigatório!</mat-error>
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                            <mat-error *ngIf="formGroup.get('password')?.hasError('required')">Senha é obrigatória</mat-error>
                            <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">Senha precisa ter pelo menos 6 caracteres</mat-error>
                            <mat-error *ngIf="formGroup.get('password')?.hasError('senhaInvalidaCaracter')">Senha precisa ter um caracter especial</mat-error>
                            <mat-error *ngIf="formGroup.get('password')?.hasError('senhaInvalidaMaiuscula')">Senha precisa ter uma letra maiúscula</mat-error>
                            <mat-error *ngIf="formGroup.get('password')?.hasError('senhaInvalidaNumeros')">Senha precisa ter pelo menos 3 números</mat-error>
                            <mat-progress-bar mode="determinate" [value]="passwordStrength"
                                              [color]="passwordStrengthColor"></mat-progress-bar>
                        </mat-form-field>


                        <button class="button-login" type="submit" title="Cadastrar">
                            <span>Cadastre-se</span>
                        </button>
                        <div class="page">
                            <a href="#" class="page">Página Inicial</a>
                        </div>
                        <div class="page">
                            <a routerLink="/auth/login" class="page">Já tenho uma conta ?</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <p>
        <p>
    </div>
</div>
<alert-message/>
