
<form
        [formGroup]="formGroup"
        (ngSubmit)="search()"
        class="form"
>
    <div fxFlex="1 1 auto" [fxLayout]="mudarAlinhar()" fxLayoutAlign="center center" >
        <mat-form-field class="options">
            <mat-label>Campo</mat-label>
            <mat-select formControlName="searchParameter">
                <mat-option *ngFor="let parameter of searchFieldsParamters" [value]="parameter">{{parameter.label}}</mat-option>
            </mat-select>
            <mat-error validationMessage></mat-error>
        </mat-form-field>
        <mat-form-field class="busca">
            <mat-label>Busca</mat-label>
            <input matInput placeholder="Informe o valor da busca" title="Busca"
                   formControlName="searchValue" name="name"  required maxlength="50"
            >
            <mat-error validationMessage ></mat-error>
        </mat-form-field>
        <button mat-raised-button class="button" (click)="search()" type="submit">Buscar</button>
        <button mat-button mat-raised-button  class="button" type="button" (click)="searchAll()">Todos</button>
    </div>
</form>

