<!-- Menu de Administração -->
<button mat-button class="menu-button" (click)="toggleAdminMenu()" *ngIf="securityService.hasRoles([
'ROLE_SECURITYGROUP_READ',
'ROLE_SECURITYGROUP_SEARCH',
'ROLE_SECURITYUSER_SEARCH',
'ROLE_SECURITYUSER_READ'
])">
  <mat-icon>admin_panel_settings</mat-icon>
  <label>Administração</label>
  <span class="spacer"></span>
  <mat-icon *ngIf="!adminMenuOpen">expand_more</mat-icon>
  <mat-icon *ngIf="adminMenuOpen">expand_less</mat-icon>
</button>

<!-- Submenus que só aparecem ao clicar no botão de Administração -->
<div class="submenu" [ngClass]="{'submenu-open': adminMenuOpen}">
  <button mat-button class="submenu-button" [routerLink]=[routeLinkDocumentation] >
    <mat-icon>description</mat-icon>
    <span>Documentação</span>
  </button>
  <button mat-button class="submenu-button" [routerLink]=[routeLinkSecurityUser] *ngIf="HAS_SECURITYUSER_ACCESS">
    <mat-icon>person</mat-icon>
    <span>Usuário</span>
  </button>
  <button mat-button class="submenu-button" [routerLink]=[routeLinkSecurityGroup] *ngIf="HAS_SECURITYGROUP_ACCESS">
    <mat-icon>group</mat-icon>
    <span>Grupo</span>
  </button>
</div>
