<div class="full-screen">
    <div class="container">
        <div class="info-container">
            <h1>Bem-vindo ao EducaDin</h1>
            <p>
                No EducaDin, nosso objetivo é transformar a forma como você lida com suas finanças pessoais.
                Com ferramentas simples e educativas, ajudamos você a controlar seus gastos, planejar metas
                e aprender sobre educação financeira de forma prática.
            </p>
            <img src="assets/images/educadin-example.png" alt="EducaDin Preview" class="preview-image"/>
        </div>
        <mat-card>
            <mat-card-title>
                <h1><strong class="educa">Educa</strong><strong class="din">Din</strong></h1>
            </mat-card-title>
            <mat-card-content>
                <div class="card-content">
                    <p>
                        Explore nossa plataforma interativa com gráficos, dicas financeiras e uma abordagem única
                        que combina planejamento e aprendizado. Sua jornada para uma vida financeira saudável começa
                        aqui!
                    </p>
                    <img src="assets/images/financial-chart.png" alt="Financial Chart" class="chart-image"/>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
