/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* Estilos gerais */
.card {
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #abd3b6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 16px;
}

.mat-table {
  width: 100%;
  overflow-x: auto;
  background: #fff;
  border-radius: 8px;
}

.mat-header-cell {
  font-weight: bold;
  text-align: left;
}

.mat-cell {
  text-align: left;
}

/* Botões */
button {
  margin: 0 4px;
  min-width: 36px;
  height: 36px;
  padding: 0 8px;
}

.add-button {
  background-color: #4caf50;
  color: #fff;
}

.edit-button {
  background-color: #ffc107;
  color: #fff;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}
