.table-responsive {
  box-sizing: border-box;
  padding-bottom: 10px;
  max-height: calc(100vh - 220px);
}

.mat-table-custom {
  border-collapse: separate;
  border-spacing: 15px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.mat-header-cell, .mat-cell {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
  min-width: 220px;
}

.mat-header-cell {
  background-color: #85C8F2 !important;
  color: black;
  font-weight: bold;
}

.mat-cell {
  background-color: white;
}

@media (max-width: 768px) {
  .mat-header-cell, .mat-cell {
    padding: 10px;
    min-width: 150px;
  }

  .mat-table-custom {
    border-spacing: 5px;
  }
  .table-responsive {
    max-height: calc(100vh - 160px);
  }
}

.mat-checkbox {
  color: black !important;
}

.mat-icon {
  color: black !important;
  font-size: 20px;
}

button .mat-button {
  color: black;
}

button .mat-menu-item {
  color: #333;
  font-size: 16px;
}

button.mat-menu-item:hover {
  background-color: black;
  color: #fff;
}

.mat-header-row, .mat-row {
  display: table-row;
  height: 60px;
  min-width: 100%;
}

.no-border {
  border: none;
}

.mat-row:last-child .mat-cell,
.mat-header-row:last-child .mat-header-cell {
  border-bottom: 2px solid black;
}
