<mat-card class="custom-card goals-card">
  <mat-card-header class="custom-card-header">
    <mat-card-title class="custom-title">
      Minhas Metas
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions class="custom-actions">
    <button mat-raised-button class="add-button" (click)="openDialogAddGoal()">
      <mat-icon>add</mat-icon>
      <span>Adicionar</span>
    </button>
    <button mat-raised-button class="remove-button" (click)="navigateToRemoveGoal()">
      <mat-icon>remove</mat-icon>
      <span>Remover</span>
    </button>
  </mat-card-actions>

  <mat-card-content class="custom-content">
    <div *ngIf="goals?.length > 0; else noGoals">
      <mat-list>
        <mat-list-item *ngFor="let goal of goals">
          <h3 mat-line>{{ goal.name }}</h3>
          <p mat-line>
            Meta: {{ goal.amountTotal | currency:'BRL' }} até
            {{ goal.goalDate | date:'dd/MM/yyyy' }}
          </p>
          <button mat-icon-button color="primary" (click)="openDialogEditGoal(goal)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <ng-template #noGoals>
      <p>Você ainda não possui metas cadastradas.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
