<mat-card class="custom-card goals-card">
    <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-title">
            Minhas Metas
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions [fxLayout]="mudarAlinhar()" fxLayoutAlign="rigth none">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button class="add-button" (click)="openDialogAddIncomes()">
                <mat-icon>add</mat-icon>
                <span>Adicionar</span>
            </button>
            <button mat-icon-button class="share-button" aria-label="Compartilhar metas">
                <mat-icon>share</mat-icon>
            </button>
        </div>
        <div class="searchFlex">
            <app-search-component [controller]="goalService" (onSearchResult)="showResult($event)"/>
        </div>
    </mat-card-actions>
    <mat-card-content>
        <div style="overflow-x:auto">
            <table mat-table [dataSource]="goalTableDataSource" class="table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Id</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nome </th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.name }}</td>
                </ng-container>

                <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </mat-card-content>

</mat-card>
