  <!-- Filtro de Pesquisa -->
  <mat-card>
    <mat-card-title class="form-mat-card-title">Filtro para Pesquisa</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div class="row">
          <mat-form-field class="flex-2">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Informe o Login" title="Login" formControlName="login" maxlength="15">
          </mat-form-field>
          <mat-form-field class="flex-1">
            <mat-label>Status</mat-label>
            <mat-select placeholder="Status" title="Status" formControlName="active">
              <mat-option [value]="undefined">Status</mat-option>
              <mat-option *ngFor="let status of listStatusAtivosInativos" [value]="status.id">
                {{ status.descricao }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="flex-1">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Informe o nome do usuário" title="Nome" formControlName="name" maxlength="100">
          </mat-form-field>

        </div>
      </form>
    </mat-card-content>
    <mat-card-actions  class="my-mat-tab-actions">
      <button type="button" title="Limpar" (click)="resetForm()" mat-button mat-button class="mat-warn flex-grow-sm">
        Limpar
      </button>
      <button type="button" title="Pesquisar" (click)="search()" mat-button mat-button class="mat-primary flex-grow-sm">
        Pesquisar
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Tabela de Usuários -->
  <mat-card>
    <mat-card-content *ngIf="dataSource.data.length > 0">
      <div class="table-detail">
        <mat-table [dataSource]="dataSource">

          <!-- Colunas da Tabela -->
          <ng-container matColumnDef="login">
            <mat-header-cell *matHeaderCellDef class="flex-1 table-header"> Login </mat-header-cell>
            <mat-cell *matCellDef="let element" class="flex-1">
              <div class="row-label-l-sm">
                <span class="text-strong">Login : &nbsp;</span>
              </div>
              <div>
                {{element.login}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef class="flex-2 table-header"> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element" class="flex-2">
              <div class="row-label-l-sm">
                <span class="text-strong">Nome :&nbsp; </span>
              </div>
              <div>
                {{element.name}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef class="flex-2 table-header"> E-Mail </mat-header-cell>
            <mat-cell *matCellDef="let element" class="flex-2">
              <div class="row-label-l-sm">
                <span class="text-strong">E-mail :&nbsp; </span>
              </div>
              <div>
                {{element.email}}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusPortal">
            <mat-header-cell *matHeaderCellDef class="fix-col-sm table-header"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index" class="fix-col-sm">
              <div class="row-label-l-sm">
                <span class="text-strong">Ativo :&nbsp; </span>
              </div>
              <div>
                <mat-slide-toggle
                  [formControl]="getStatusAt(i)"
                  (change)="alterUserStatus(element, i)"
                                  title="{{ element.status ? 'Ativo' : 'Inativo' }}"
                                  *ngIf="securityService.hasRoles(SecurityUserRoles.ACTIVATE_INACTIVATE)" >
                </mat-slide-toggle>
                <span *ngIf="!securityService.hasRoles(SecurityUserRoles.ACTIVATE_INACTIVATE)">
                {{ element.status ? 'Ativo' : 'Inativo' }}
              </span>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <mat-header-cell *matHeaderCellDef class="fix-col-sm table-header"> Ações </mat-header-cell>
            <mat-cell *matCellDef="let element" class="fix-col-sm gap-sm">
              <div class="row-label-l-sm">
                <span class="text-strong">Ações :</span>
              </div>
              <div class="display-flex gap-sm">
                <a mat-mini-fab title="Visualizar usuário" class="btn-primary"
                   *ngIf="HAS_PERMISSION_READ"
                   [routerLink]="[AuthorizationPaths.SECURITY_USER, element.id, SecurityUserPaths.RELATIVE_VIEW]">
                  <mat-icon>search</mat-icon>
                </a>
                <a mat-mini-fab title="Alterar Usuário" class="btn-primary"
                   *ngIf="HAS_PERMISSION_UPDATE"
                   [routerLink]="[AuthorizationPaths.SECURITY_USER, element.id, SecurityUserPaths.RELATIVE_EDIT]">
                  <mat-icon>edit</mat-icon>
                </a>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="row-table"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-table"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator [pageSize]="PAGINATOR_PAGE_SIZE" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
  </mat-card>
