<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário em Português</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="authentication.component.scss">
</head>
<body>
<div class="container" id="container">
    <div class="left-half">
        <button class="btn" id="toggleForm">Entrar</button>
    </div>
    <div class="right-half">
        <div class="first-content" id="cadastroForm">
            <h2 class="title">Criar uma Conta</h2>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
                <div class="label-input">
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="namePerson" type="text" placeholder="Digite seu nome" required/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail" required/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Digite sua senha" required/>
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn">Registrar</button>
            </form>
        </div>

        <div class="second-content" id="loginForm" style="display: none;">
            <h3 class="title">Bem-vindo ao EducaDin!</h3>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
                <div class="label-input">
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail" required/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput formControlName="passoword" type="password" placeholder="Digite sua senha" required/>
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button type="submit" class="btn">Entrar</button>
                <div class="esqueceu-senha">
                    <a class="link_esqueceu-senha" (click)="openDialogPassoword()">Esqueceu a senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
