<mat-card>
    <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-title">
            <h2>Meus Gastos</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="custom-actions" [fxLayout]="mudarAlinhar()" fxLayoutAlign="center none">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-button class="add-button" (click)="openDialogAddExpenses()">
                <mat-icon>add</mat-icon>
                <span>Adicionar</span>
            </button>
        </div>
        <div class="searchFlex">
            <app-search-component [controller]="expensesService" (onSearchResult)="showResult($event)"/>
        </div>
    </mat-card-actions>
    <mat-card-content>
        <div style="overflow-x:auto">
            <table mat-table [dataSource]="expensesTableDataSource" class="table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Id</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Nome</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Categoria</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.category.name }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Descrição</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.description }}</td>
                </ng-container>

                <ng-container matColumnDef="expenseDate">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Data</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.expenseDate | date:'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Valor</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.amount }}</td>
                </ng-container>

                <ng-container matColumnDef="acao" *ngIf="tipoDeListagem == 'Normal'">
                    <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Ações</th>
                    <td mat-cell *matCellDef="let element" class="mat-cell">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogEditExpenses(element.id)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="confirmDeletionExpenses(element)">
                                <mat-icon>delete_forever</mat-icon>
                                <span>Excluir</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-paginator style="justify-content: center" [length]="this.qtdRegistros"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       (page)="onPageChange($event)"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-card-content>
</mat-card>
