<mat-card>
  <mat-card-title>
    <div class="form-mat-card-title">
      <div class="flex-grow-sm">
        Manutenção de Grupo ( {{crudAction.labelAction}} )
      </div>
      <button mat-button mat-raised-button color="primary"
              [routerLink]="[baseURL,SecurityGroupPaths.RELATIVE_NEW]"
              class="flex-grow-sm"
              *ngIf="crudAction.isActionList() && HAS_PERMISSION_CREATE"
      >
        ADICIONAR
      </button>
    </div>
  </mat-card-title>
</mat-card>
<mat-card>
  <!--  <mat-card-content>-->
  <router-outlet/>
  <!--</mat-card-content>-->
</mat-card>
